<div class="AddCustomer" layout-gt-xs="row">
	<md-input-container flex-gt-xs flex="50" class="md-icon-float md-block">
      <!-- Use floating label instead of placeholder -->
      <label>Name</label>
      <input ng-model="name" type="text">
    </md-input-container>
	<md-input-container>
		<md-select class="md-block" ng-model="product" placeholder="Choose Product">
			<md-option ng-repeat="product in products" ng-value="product">{{product.name}}</md-option>
		</md-select>
	</md-input-container>
	<md-input-container>
		<md-button class="md-raised md-primary" ng-click="addCustomer()">Add</md-button>
	</md-input-container>
</div>
